@import './tokens.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg-canvas);
  color: var(--fg);
  font-family: var(--f-ui);
  -webkit-font-smoothing: antialiased;
}

main {
  height: 100%;
}

button {
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  text-align: left;
  cursor: pointer;
}
